// Custom Theming for Angular Material
//@import '~normalize.css/normalize.css';
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pm2-www-primary: mat-palette($mat-indigo);
$pm2-www-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$pm2-www-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pm2-www-theme: mat-light-theme($pm2-www-primary, $pm2-www-accent, $pm2-www-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pm2-www-theme);

/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/scrollbar';
@import 'assets/scss/main';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-row-parent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

#router-outlet > *:last-child {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}
