/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #BBBBBB;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
