//noinspection CssUnknownTarget
@import 'assets/scss/variables';

.snackbar-primary {
  background: $snackbar-bg-primary !important;
}

.snackbar-accent {
  background: $snackbar-bg-accent;
}

.snackbar-success {
  background: $snackbar-bg-success;
}

.snackbar-warn {
  background: $snackbar-bg-warn;
}
