/*************** Variables *****************************/
$text-color-grey: #607D8B;
$text-color-lightgrey: #9E9E9E;
$text-color-darkgrey: #455A64;
$link-color-active: #2196F3;

$subheader-bgcolor-grey: #ECEFF1;

$text-color-red: #C5343A;
$block-bgcolor-red: #F2DEDE;

$snackbar-bg-primary: #37474F;
$snackbar-bg-accent: #2196F3;
$snackbar-bg-success: #397239;
$snackbar-bg-warn: #F44336;
/***********************************************************/
